{% extends 'base.html' %}

{% block head %}
    <title>View Reports</title>
    <style>
        body{
            height: 1700px;
            background-image: url("/static/airplane1.jpeg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            filter: alpha(opacity=20)
        }

        div.modal-lg {
            width: 1200px !important;
            height: auto !important;
        }

        input[type='text'],
        input[type='number'],
        input[type='password'],
        input[type='date'],
        input[type='email'],

        select,
        textarea {
            outline: none;
            box-shadow: none !important;
            border: 1px solid #ccc !important;
        }
        .sidebar-left {
            position:fixed;
            list-style-type: none;
            margin: 0;
            padding: 0;
            left:0px;
            top:8%;
            width: 15%;
            background-color: #f1f1f1;
            position:fixed;
            height: 95%;
        }

        .sidebar-left li a {
            margin-top:0px;
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
            position: relative;
        }
        .navbar-top{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            opacity:1;
            position: fixed;
            top: 0;
            left:0;
            height:8%;
            width: 100%;
            z-index:1;
        }

        .navbar-text-li{
            float: left;
            font-size:130%;
            height:100%;
            margin-top:0px;
            color: white;
            /* margin-left: 15%; */
        }
        .navbar-text-li-right{
            float: right;
            color: white;
            font-size:130%;
            height:100%;
            margin-top:10px;
            margin-right: 20px;
        }
        .navbar-text-li a{
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            height:100%;
            text-decoration:none;
            /* margin-left: 15%; */
        }

        .navbar-text-li a:hover:not(.navbar-text) {
            background-color: #111;
        }
    </style>
{% endblock %}
<br>
<br>
<br>
<br>

{% block main %}
        <ul class="navbar-top" id="navbar">
            <li class='navbar-text-li'><a class='navbar-text' href=''>Welcome, {{ username }} ! </a></li>
            <li class='navbar-text-li-right'><a class='navbar-text' href='/logout'>Logout</a></li>
        </ul>

        <ul class='sidebar-left' id='sidebar' method = 'post'>
                <li id = 'home'>
                    <a href = '/home_staff'>Home</a>
                </li>
                    <li id = 'flighthistory'>
                        <a href = '/staff_search_flight'>Search Flights</a>
                    </li>
                    <li id = 'flights'>
                        <a href = '/staff_update_flights'>Update Flights</a>
                    </li>
                    <li id = 'staff_allagents'>
                            <a href = '/staff_allagents'>View all agent</a>
                    </li>
                    <li id = 'frequent_customer'>
                        <a href = '/staff_frequent_customer'>View Frequent Customer</a>
                    </li>
                    <li id = 'view_report'>
                            <a href = '/staff_view_report'>View Reports</a>
                    </li>
                    <li id = 'revenue'>
                            <a href = '/staff_revenue'>View Revenue</a>
                    </li>
                    <li id = 'destination'>
                            <a href = '/staff_destination'>View Destinations</a>
                    </li>
                </li>
        </ul>
        </div>
    </div>
    <br>
    <br>
    
    <!-- you need to include the shieldui css and js assets in order for the charts to work --> 
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

    <h2 class="text-left" style="padding-left: 290px; padding-top: 50px;">
            Monthly report for the past year:
    </h2>
    <canvas id="barChart" style="padding-top:50px; padding-left: 400px; display: block; max-width: 1200px;"></canvas>
<br>
<br>
<br>
<br>

<h2 class="text" style="padding-left: 530px;">  
        View report with a range below:
</h2>
<br>
<br>
<form action="staff_view_report" method="POST"  style="padding-left: 240px">
    <div class="container" id="searchforflight" style="padding-top: 24px">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="input-group mb-3">
                    <input type="text" onfocus="(this.type='date')" class="form-control" name="from_date"
                        placeholder="Start Date"
                        aria-label="Search term"
                        aria-describedby="basic-addon" value="{{ request.form.from_date }}">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="input-group" mb-3>
                    <input type="text" onfocus="(this.type='date')" class="form-control" name="to_date"
                        placeholder="End Date"
                        aria-label="Search term"
                        aria-describedby="basic-addon" value="{{ request.form.to_date }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6">
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="input-group mb-3">
                    <button class="btn btn-info btn-lg btn-block" type="submit">
                        <strong>Check!</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<br>
<br>
<br>
{% if range_tkt %}
    <canvas id="rangeChart" style="padding-left: 400px; display: block; max-width: 1100px; max-height: 600px;"></canvas>
{% endif %}



    <script>
        let ctxB = document.getElementById('barChart').getContext('2d');
        let myBarChart = new Chart(ctxB, {
            type: 'bar',
            data: {
            labels: [{% for item in one_year_tkt %}
                            "{{item['y'],item['m']}}",
                        {% endfor %}],
            datasets: [{
            label: 'Number of tickets',
            data: [{% for item in one_year_tkt %}
                        {{item['num_of_tickets']}},
                    {% endfor %}],
            backgroundColor: [
            'rgba(255, 99, 132, 0.4)',
            'rgba(54, 162, 235, 0.4)',
            'rgba(255, 206, 86, 0.4)',
            'rgba(75, 192, 192, 0.4)',
            'rgba(153, 102, 255, 0.4)',
            'rgba(255, 159, 64, 0.4)'
            ],
            borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1.0
            }]
            },
            options: {
            scales: {
            yAxes: [{
            ticks: {
            beginAtZero: true
            }
            }]
            }
            }
            });

        let ctxB2 = document.getElementById('rangeChart').getContext('2d');
        let rangeChart = new Chart(ctxB2, {
            type: 'bar',
            data: {
            labels: [{% for item in range_tkt %}
                            "{{item['y'],item['m']}}",
                        {% endfor %}],
            datasets: [{
            label: 'Number of tickets',
            data: [{% for item in range_tkt %}
                        {{item['num_of_tickets']}},
                    {% endfor %}],
            backgroundColor: [
            'rgba(255, 99, 132, 0.4)',
            'rgba(54, 162, 235, 0.4)',
            'rgba(255, 206, 86, 0.4)',
            'rgba(75, 192, 192, 0.4)',
            'rgba(153, 102, 255, 0.4)',
            'rgba(255, 159, 64, 0.4)'
            ],
            borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1.0
            }]
            },
            options: {
            scales: {
            yAxes: [{
            ticks: {
            beginAtZero: true
            }
            }]
            }
            }
            });
        </script>
{% endblock %}
